/* You can customize theme styles here */
.header .navbar-brand span:first-child{
    color: #742F97;
}

.header .container{
    padding-left: 10px;
}

html body ::selection{
    background-color:#742F97;color:#fff
}

.header .navbar .nav-item .nav-link::after {
    background-color: #742F97
}

li:before {
    color: white;
}


